<ion-header>
  <header title="Products" (search)="isSearching = !isSearching"></header>
  <ion-toolbar *ngIf="isSearching">
      <ion-searchbar
      [class.has-content]="!!searchInput"
      [(ngModel)]="searchInput"
      [showCancelButton]="true"
      [animated]="true"
      (ionInput)="onSearchInput()"
      (ionCancel)="isSearching = !isSearching">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item [@flyInOut]="'in'" *ngFor="let post of posts; let i=index;" (click)="getDetails(post)">
      <ion-avatar highlight item-start>
        <img [src]="post.image">
      </ion-avatar>
      <h2>{{ post.name }}</h2>
      <p>Price: {{ post.price }}</p>
    </ion-item>
  </ion-list>
</ion-content>
